<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <menu>
    <a [routerLink]="['/sign-up']">Sign-Up</a>
    <a [routerLink]="['/user-profile']">User-profile</a>
  </menu>
  <div class="container">
    <ul *appDisplayGuests="showMovies">
      <li appHighlight>The Godfather</li>
      <li>The Shawshank Redemption</li>
      <li>Gone With the Wind</li>
      <li>Casablanca</li>
    </ul>
    <a class="btn btn-danger text-white" (click)="changeShowMovies()">Afficher/Masquer les films</a>
  </div>
</div>
<router-outlet></router-outlet>
