<div class="row">
  <div class="col-md-12 my-5">
    <h1>{{ MonEmail }}</h1>
    <input type="email" name="email" [(ngModel)]="MonEmail" class="form-control"/>
  </div>
</div>
<div class="container my-5">
  <form (ngSubmit)="orderForm.valid && onSubmit()" [formGroup]="orderForm" #myForm="ngForm">
    <div>
      <label for="title-order">Title</label>
      <input name="title-order" type="text" formControlName="title">
    </div>
    <div *ngIf="orderForm.controls.title.errors && myForm.submitted">
      <span *ngIf="orderForm.controls.title.errors.required">Le champ title est requis</span>
    </div>
    <div>
      <label for="quantity-order">Quantité</label>
      <input name="quantity-order" type="number" formControlName="quantity">
    </div>
    <div *ngIf="orderForm.controls.quantity.errors && myForm.submitted">
      <span *ngIf="orderForm.controls.quantity.errors.required">Le champ quantité est requis</span>
      <span *ngIf="orderForm.controls.quantity.errors.max">La quantité maximal doit être inférieur à 5</span>
    </div>
    <div>
      <label for="date-order">Date de commande</label>
      <input name="date-order" type="date" formControlName="date">
    </div>
    <div *ngIf="orderForm.controls.date.errors && myForm.submitted">
      <span *ngIf="orderForm.controls.date.errors.required">Le champ quantité est requis</span>
    </div>
    <div>
      <label for="contact-order">Contact</label>
      <input name="contact-order" type="email" formControlName="contact">
    </div>
    <div *ngIf="orderForm.controls.contact.errors && myForm.submitted">
      <span *ngIf="orderForm.controls.contact.errors.required">Le champ contact est requis</span>
      <span *ngIf="orderForm.controls.contact.errors.email">L'adresse email doit être valide</span>
    </div>
    <div formArrayName="payments">
      <b>Payments : </b> <button type="button" (click)="addPayment()">Ajouter date paiement</button>
      <div [formGroupName]="i" *ngFor="let payment of payments.controls; let i=index">
        <label for="date-{{i}}">Date :</label>
        <input name="date-{{i}}" type="date" formControlName="date">
        <label for="amount-{{i}}">Amount :</label>
        <input name="amount-{{i}}" type="text" formControlName="amount">
      </div>
    </div>
    <button type="reset">Restaurer</button>
    <button type="submit">Sauvegarder</button>
  </form>
</div>

